#include <windows.h>
#include "resource.hpp"

GOLDTILETOP MENU DISCARDABLE 
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "&New",            IDM_NEW
        MENUITEM "&Open...",        IDM_OPEN
        MENUITEM "Open &Recent...", IDM_REOPEN
        MENUITEM "Re&vert",         IDM_REVERT
        MENUITEM "&Save",           IDM_SAVE
        MENUITEM "Save &As...",     IDM_SAVE_AS
        MENUITEM "&Close",          IDM_CLOSE
        MENUITEM "&Print...",       IDM_PRINT
        MENUITEM "E&xit",           IDM_EXIT
    END
    POPUP "&Play"
    BEGIN
        MENUITEM "Pa&use",        IDM_PAUSE
        MENUITEM "&Accept Hint",  IDM_ACCEPT
        MENUITEM "&Play",         IDM_PLAY_PLAY
        MENUITEM "&Swap",         IDM_SWAP
        MENUITEM "Pass",          IDM_PASS
        MENUITEM "R&estart",      IDM_RESTART
        MENUITEM "&Undo",         IDM_UNDO
        MENUITEM "&Redo",         IDM_REDO
        MENUITEM "Au&toPause",    IDM_AUTOPAUSE
    END
    POPUP "&View"
    BEGIN
        MENUITEM "&Small Tiles",        IDM_SMALL_TILES
        MENUITEM "&Medium Tiles",       IDM_MEDIUM_TILES
        MENUITEM "&Large Tiles",        IDM_LARGE_TILES
        MENUITEM "&Recenter",           IDM_RECENTER
        MENUITEM "Tile &Attributes...", IDM_ATTRIBUTES
        MENUITEM "Show &Clocks",        IDM_SHOW_CLOCKS
        MENUITEM "Show &Grid",          IDM_SHOW_GRID
        MENUITEM "Show &Hints",         IDM_SHOW_HINTS
        MENUITEM "Show Sc&ores",        IDM_SHOW_SCORES
        MENUITEM "Show &Tiles",         IDM_SHOW_TILES
        MENUITEM "A&nimation",          IDM_ANIMATION
    END
    POPUP "&Help", HELP
    BEGIN
        MENUITEM "&Rules",               IDM_RULES
        MENUITEM "&About Gold Tile...",  IDM_ABOUT
    END
END
